/* @import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap"); */
@import "tailwindcss";
@theme {
  --color-main: #000000;
  --color-harley: rgba(0, 0, 0, 0.3);
  --color-normal: #333333;
  --color-sub_main: #939393;
  --font-main: "Montserrat", "sans-serif";
  --font-style_harley: "FontHarley", "sans-serif";
  --font-style_staaliches: "FontStaaliches", "sans-serif";
}

@font-face {
  font-family: "FontHarley";
  src: url("./assets/fonts/harley.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "FontStaaliches";
  src: url("./assets/fonts/Staatliches-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
